h1 {
  text-transform: uppercase;
}

.logo {
  max-width: 50%;
  width: 15%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  width: 100%;
}

.nav-bar {
  align-items: center;
  display: flex;
  flex-basis: 12%;
  justify-content: center;
}

.nav-bar-list {
  display: inherit;
  gap: 10%;
  list-style: none;
}

a {
  text-decoration: none;
}
