@import '../../styles/base/variables';
@import '../../styles/base/animations';
@import '../../styles/base/mixins';

.animate {
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeleton;
  animation-timing-function: linear;
  &.circle-wrapper {
    animation-name: circle-skeleton;
  }
}

.box-wrapper {
  @include dimensions($box-width, $box-height);
  background-color: #bbbbba;
  grid-area: box;
}

.rectangle-wrapper {
  @include dimensions($rectangle-width, $rectangle-height);
  background-color: #90fc00;
  border-radius: 6px;
  grid-area: rectangle;
  margin-top: 1rem;
}

.circle-wrapper {
  @include dimensions(50px, 50px);
  background-color: #d80055;
  grid-area: circle;
  border-radius: 50%;
  margin-top: 1rem;
}

.box-line {
  @include line($light-blue);
  @include dimensions($box-width, $box-height);
}

.rectangle-line {
  @include line($green);
  @include dimensions($rectangle-width, $rectangle-height);
  border-radius: 6px;
}

.circle-line {
  @include line($red);
  @include dimensions(50px, 50px);
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: $grid-col;
  grid-template-rows: $grid-row;
  grid-template-areas: 'box box' 'rectangle circle';
}
