@import './base/base';
@import './base/variables';

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 3%;
  width: 100%;
}

.section {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &-light-green {
    background-color: $light-green;
  }

  &-dark-green {
    background-color: $dark-green;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-yellow {
    background-color: $light-yellow;
  }
}

.section-dark-green-container {
  display: flex;
}
