$orange: oranage;
$red: red;
$blue: blue;
$dark-green: green;
$light-green: olive;
$yellow: yellow;

.grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'top-bar top-bar top-bar top-bar'
    'left-side content content right-side'
    'left-side content content right-side'
    'bottom-bar bottom-bar bottom-bar bottom-bar';
  width: 400px;
}

.top-bar {
  grid-area: top-bar;
  background-color: red;
}

.right-side {
  grid-area: right-side;
  background-color: orange;
}

.bottom-bar {
  grid-area: bottom-bar;
  background-color: green;
}

.left-side {
  grid-area: left-side;
  background-color: blue;
}

.content {
  grid-area: content;
  text-align: center;
}
