@import '../../styles/base/variables';

table {
  width: 100%;
  color: $darker-yellow;
}

th {
  background-color: $dark-yellow;
  color: $dark-red;
  text-transform: uppercase;
}

th:first-child {
  text-align: left;
}

th:nth-child(2) {
  text-align: center;
}

td:nth-child(2) {
  text-align: center;
}

th,
td:last-child {
  text-align: right;
}
